<div class="center-content">
  <h2 style="color:#e0d9c6">Edit {{recipe.Name}}</h2>
  <div>
    <form class="myForm">

      <mat-form-field class="full-width" appearance="legacy">
        <mat-label>Name</mat-label>
        <input [(ngModel)]="recipe.Name" matInput placeholder="Name" [ngModelOptions]="{standalone: true}">
      </mat-form-field>

      <mat-form-field *ngFor="let ingredient of recipe.Ingredients" class="full-width" appearance="legacy">
        <mat-label>Ingredients</mat-label>
          <input [(ngModel)]="ingredient.Name" matInput placeholder="ingredientName" [ngModelOptions]="{standalone: true}">
          <input [(ngModel)]="ingredient.Description" matInput placeholder="ingredientDescription" [ngModelOptions]="{standalone: true}">
          <input [(ngModel)]="ingredient.Amount" matInput placeholder="ingredientAmount" [ngModelOptions]="{standalone: true}">
      </mat-form-field>

      <mat-form-field class="full-width" appearance="legacy">
        <mat-label>Category</mat-label>
        <input [(ngModel)]="recipe.Category" matInput placeholder="Category" [ngModelOptions]="{standalone: true}">
      </mat-form-field>

      <mat-form-field class="full-width" appearance="legacy">
        <mat-label>Description</mat-label>
        <input [(ngModel)]="recipe.Description" matInput placeholder="Description" [ngModelOptions]="{standalone: true}">
      </mat-form-field>

      <mat-form-field class="full-width" appearance="legacy">
        <mat-label>Preperation</mat-label>
        <input [(ngModel)]="recipe.Preperation" matInput placeholder="Preperation" [ngModelOptions]="{standalone: true}">
      </mat-form-field>

      <mat-form-field class="full-width" appearance="legacy">
        <mat-label>ImageUrl</mat-label>
        <input [(ngModel)]="recipe.ImageUrl" matInput placeholder="ImageUrl" [ngModelOptions]="{standalone: true}">
      </mat-form-field>

    </form>
  </div>
  <button mat-raised-button (click)="saveEdit()">Save</button>
</div>