<button class="AddButton" mat-raised-button (click) = "createRecipe()">Add a recipe</button>

<mat-grid-list cols="2" rowHeight="450px">
  <mat-grid-tile *ngFor="let recipe of recipes" [colspan]="1" [rowspan]="1">

      <mat-card class="Recipe-card">
        <mat-card-header>
          <mat-card-title>{{recipe.Name | uppercase}}</mat-card-title>
        </mat-card-header>
      
        <img mat-card-image src="{{recipe.ImageUrl}}">
      
        <mat-card-content>
          <p>
            {{recipe.Description}}
          </p>
        </mat-card-content>
      
        <mat-card-actions>
          <button mat-button (click)="gotoDetail(recipe._id)">
            Details
          </button>
        </mat-card-actions>
      </mat-card>

  </mat-grid-tile>
</mat-grid-list>
