<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <mat-toolbar>FoodForum</mat-toolbar>

    <mat-nav-list>
      <a mat-list-item routerLink="/recipes">Recipes</a>
      <a mat-list-item routerLink="/users">Users</a>
      </mat-nav-list>

      <mat-divider></mat-divider>

      <mat-nav-list *ngIf="!user">
        <a mat-list-item routerLink="/login">Login</a>
        <a mat-list-item routerLink="/register">Register</a>
      </mat-nav-list>
      
      <mat-nav-list *ngIf="user">
        <button mat-list-item color="warn" (click)="logout()">Logout</button>
      </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar color="accent">

      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <span>Foodies united!</span>

      

    </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-sidenav-content>

</mat-sidenav-container>