<div class="center-content" *ngIf="recipeForm">

  <h2 style="color:#e0d9c6">Create recipe</h2>
  <div>
    <div [formGroup]="recipeForm" class="myForm">

      <mat-form-field class="full-width" appearance="legacy">
        <mat-label>Name</mat-label>
        <input formControlName="Name" matInput placeholder="Name">
      </mat-form-field>

      <mat-form-field class="full-width" appearance="legacy">
        <div formArrayName="Ingredients">
          <button mat-raised-button (click)="addIngredient()">Add ingredient</button>
          <div *ngFor="let ingredient of Ingredients.controls; let i = index"  formGroupName="{{i}}">
          <mat-label>Ingredients</mat-label>
              <input formControlName="Name" matInput placeholder="Name">
              <input formControlName="Description" matInput placeholder="Description">
              <input formControlName="Amount" matInput placeholder="Amount">
              <button mat-raised-button (click)="deleteIngredient(i)">Delete ingredient</button>
          </div>
        </div>
      </mat-form-field>

      <mat-form-field class="full-width" appearance="legacy">
        <mat-label>Category</mat-label>
        <input formControlName="Category" matInput placeholder="Category">
      </mat-form-field>

      <mat-form-field class="full-width" appearance="legacy">
        <mat-label>Description</mat-label>
        <input formControlName="Description" matInput placeholder="Description">
      </mat-form-field>

      <mat-form-field class="full-width" appearance="legacy">
        <mat-label>Preperation</mat-label>
        <input formControlName="Preperation" matInput placeholder="Preperation">
      </mat-form-field>

      <mat-form-field class="full-width" appearance="legacy">
        <mat-label>ImageUrl</mat-label>
        <input formControlName="ImageUrl" matInput placeholder="ImageUrl">
      </mat-form-field>

    </div>
  </div>
  <button mat-raised-button (click)="createRecipe()">Save</button>
</div>